<h1>Account</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
	<div class="field"><label>Acct Type:</label><div>{Account Types GUID}</div></div>
	<div class="field"><label>Parent:</label><div>{Parent Accounts GUID}</div></div>
	<div class="field"><label>Segment:</label><div>{Segment}</div></div>
	<div class="field"><label>Number:</label><div>{Number}</div></div>
	<div class="field double"><label>Name:</label><div class="double">{Name}</div></div>
	<div class="field double"><label>Full Name:</label><div class="double">{Nested Name}</div></div>
	<div class="field"><label>Lst Ck #:</label><div>{Last Number}</div></div>
</div>    
<p>{Open Parent} {Save}</p>

<h2>Subordinates</h2>
<!-- BEGIN Child -->
<div class="block subaccount row">
	<div class="field"><label>Delete:</label><div>{Child Is Deleted}</div></div>
	<div class="field"><label>Allowed:</label><div>{Child Is Allowed}</div></div>
	<div class="field double"><label>Name:</label><div class="double">{Child Name}</div></div>
	<div class="field"><label>Segment:</label><div>{Child Segment}</div></div>
	<div class="field"><label>Number:</label><div>{Child Number}</div></div>
	<div class="field"><label></label><div>{Child Open}</div></div>
	<div class="field"><label>Lst Ck #:</label><div>{Child Last Number}</div></div>
</div>    
<!-- END Child -->
<p>{Add}</p>