<h1>Bank Deposit</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Date:</label><div>{Date}</div></div>
	<div class="field"><label>Account:</label><div>{Accounts GUID}</div></div>
	<div class="field"><label>Number:</label><div>{Number}</div></div>
</div>

<p>{Save} {Print} {Post} {Open}</p>

<h2>Includes</h2>
<!-- BEGIN Payment -->
<div class="block row">
	<div class="field"><label>Included:</label><div>{Payment Included}</div></div>
	<div class="field"><label>Date:</label><div>{Payment Date}</div></div>
	<div class="field"><label>Contact:</label><div>{Payment Contacts Display Name}</div></div>
	<div class="field"><label>Number:</label><div>{Payment Their Number}</div></div>
	<div class="field"><label>Amount:</label><div>{Payment Total}</div></div>
</div>
<!-- END Payment -->
<div class="block row">
	<div class="field"><label>Items</label><div>{Items}</div></div>
	<div class="field"><label>Total:</label><div>{Total}</div></div>
</div>

<p>{Save} {Print} {Post} {Open}</p>
