<h1>Group</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
	<div class="field"><label>Display:</label><div>{Display Name}</div></div>
	<div class="field"><label>Email:</label><div>{Email Address}</div></div>
</div>

<p>{Save}</p>

<h2>Members</h2>
<table>
	<!-- BEGIN User -->
	<tr>
		<td class="right">{User Email Address}&nbsp;</td>
		<td class="center">{User Included}</td>
	</tr>
	<!-- END User -->
</table>

<p>{Save}</p>

<h2>Permissions</h2>
<table>
	<tr>
		<td class="center">C</td>
		<td class="center">R</td>
		<td class="center">U</td>
		<td class="center">D</td>
		<td>&nbsp;</td>
	</tr>
	<!-- BEGIN Securable -->
	<tr>
		<td class="center">{Securable Can Create}</td>
		<td class="center">{Securable Can Read}</td>
		<td class="center">{Securable Can Update}</td>
		<td class="center">{Securable Can Delete}</td>
		<td>&nbsp;{Securable Display Name}</td>
	</tr>
	<!-- END Securable -->
</table>

<p>{Save}</p>
