<h1>{Title}</h1>

<div class="block">
	<div class="field"><label>Find:</label><div>{Keywords}</div></div>
</div>

<p>{Search}</p>

<table class="list">
    <tr>
        <td><a href="{Edit Controller}" class="add">Add</a></td>
<!-- BEGIN Header --> 
        <td>{Column Name}</td>
<!-- END Header -->
    </tr>
<!-- BEGIN Row -->
    <tr>
        <td><a href="{List Controller}&GUID={GUID}&Button=Delete" class="delete">Delete</a></td>
<!-- BEGIN Column -->
        <td><a href="{Edit Controller}&GUID={GUID}">{Value}</a></td>
<!-- END Column -->
    </tr>
<!-- END Row -->
</table>