.svn/
*.class
*.jar
*.war
*.ear

**/private/
**/build/
**/dist/
incAccounting/incAccounting/web/WEB-INF/web.xml
incAccounting/nbproject/private/private.properties
incGenerator/nbproject/private/private.properties
incLibraries/nbproject/private/private.properties
