div.ported { width: 8.5in; }
* {
	font-size: 10pt;
	color: black;
}
body { background-color: #eee; }
form#form, .padded {
	padding: 0.5in;
	margin: 0px;
	margin-top: 0.5in;
	margin-bottom: 0.5in;
	border: 1px solid black;
	min-height: 10in;
	background-color: white;
}
.black, b, th { 
	font-weight: bolder; 
	font-family: "Rubik";
}
#header { visibility: hidden; display: none; }
@media print {
	div.ported { width: auto; }
	form#form, .padded { 
		margin-top: 0;
		padding: 0;
		border: 0;
		margin-bottom: 0;
		min-height: 0in;
	}
}

#top { height: 2.5in; }
#top > * {
/*	border: 1px solid yellow;
	margin: -1px;*/
	overflow: hidden;
}

#top > #first {	overflow: hidden; }
#top > #first > #title {
	display: inline-block;
	float: left;
}
#top > #first > #identifiers {
	display: inline-block;
	float: right;
	text-align: right;
}
#top > #first > #identifiers > div {
	font-size: 20px;
}

#top > #second { 
	margin-top: 0.33in;
	margin-bottom: 0.33in;
	overflow: hidden; 
}
#top > #second > #address {
	display: inline-block;
	float: left;
}
#top > #second > #summary {
	display: inline-block;
	float: right;
	text-align: right;
}
#top > #second > #summary > div {
	font-size: 20px;
}

#top > #third { 
	overflow: hidden; 
	font-family: "Aatrix";
	font-size: 12pt;
	position: relative;
	left: 2in;
} 

table { width: 100%; }
#form > table:nth-child(5) > tbody:nth-child(1) > tr:nth-child(1) > td {
	font-weight: bolder; 
	font-family: "Rubik";
}
td.topline {
	border-top: 1pt solid black;
}