div.block.single + h2.newline {
	padding-top: 1em;
}

/* SCREEN SPECIFCS */
@media screen and (min-width: 0px) and (max-width: 640px) {
	input[type="text"].BillingAddressCity { width: 130px; }
	input[type="text"].BillingAddressState { width: 25px; }
	input[type="text"].BillingAddressPostalCode { width: 85px; }

	input[type="text"].ShippingAddressCity { width: 130px; }
	input[type="text"].ShippingAddressState { width: 25px; }
	input[type="text"].ShippingAddressPostalCode { width: 85px; }
	
	.RowDescription { height: 8em; }
}
@media screen and (min-width: 641px) and (max-width: 960px) {
	input[type="text"].BillingAddressCity { width: 80px; }
	input[type="text"].BillingAddressState { width: 25px; }
	input[type="text"].BillingAddressPostalCode { width: 60px; }	

	input[type="text"].ShippingAddressCity { width: 80px; }
	input[type="text"].ShippingAddressState { width: 25px; }
	input[type="text"].ShippingAddressPostalCode { width: 60px; }
	
	.RowDescription { height: 5em; }
}
@media screen and (min-width: 961px) {
	input[type="text"].BillingAddressCity { width: 160px; }
	input[type="text"].BillingAddressState { width: 25px; }
	input[type="text"].BillingAddressPostalCode { width: 100px; }

	input[type="text"].ShippingAddressCity { width: 160px; }
	input[type="text"].ShippingAddressState { width: 25px; }
	input[type="text"].ShippingAddressPostalCode { width: 100px; }
	
	.RowDescription { height: 3em; }
}

div.block.row > div:nth-child(7) { clear: none; }
div.block.row > div:nth-child(9) { clear: none; }
div.block.row > div:nth-child(11) { clear: none; }