/* SCREEN SPECIFCS */
@media screen and (min-width: 0px) and (max-width: 640px) {
	input[type="text"].BillingAddressCity { width: 130px; }
	input[type="text"].BillingAddressState { width: 25px; }
	input[type="text"].BillingAddressPostalCode { width: 85px; }
}
@media screen and (min-width: 641px) and (max-width: 960px) {
	input[type="text"].BillingAddressCity { width: 80px; }
	input[type="text"].BillingAddressState { width: 25px; }
	input[type="text"].BillingAddressPostalCode { width: 60px; }	
}
@media screen and (min-width: 961px) {
	input[type="text"].BillingAddressCity { width: 160px; }
	input[type="text"].BillingAddressState { width: 25px; }
	input[type="text"].BillingAddressPostalCode { width: 100px; }
}