<h1>Document Type</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
	<div class="field"><label>Name:</label><div>{Name}</div></div>
	<div class="field"><label>Account:</label><div>{Accounts GUID}</div></div>
	<div class="field"><label>Sales:</label><div>{Is Sales Related}</div></div>
	<div class="field"><label>Credit:</label><div>{Is Credit Memo}</div></div>
	<div class="field double"><label>Edit:</label><div class="double">{Edit URL}</div></div>
	<div class="field double"><label>List:</label><div class="double">{List URL}</div></div>
</div>

<p>{Save}</p>