<h1>Job</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Parent:</label><div>{Parent Jobs GUID}</div></div>
	<div class="field"><label>Segment:</label><div>{Segment}</div></div>
	<div class="field"><label>Number:</label><div>{Number}</div></div>
	<div class="field"><label>Name:</label><div>{Name}</div></div>
	<div class="field"><label>Full Name:</label><div>{Nested Name}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
</div>    
<p>{Save} {Open}</p>

<h2>Subordinates</h2>
<!-- BEGIN Child -->
<div class="block row">
	<div class="field"><label>Delete:</label><div>{Child Is Deleted}</div></div>
	<div class="field"><label>Allowed:</label><div>{Child Is Allowed}</div></div>
	<div class="field"><label>Segment:</label><div>{Child Segment}</div></div>
	<div class="field"><label>Number:</label><div>{Child Number}</div></div>
	<div class="field"><label>Name:</label><div>{Child Name}</div></div>
	<div class="field"><label></label><div>{Child Open}</div></div>
</div>  
<!-- END Child -->

<p>{Add}</p>
