<h1>Document Posting</h1>

<div class="block">
	<div class="field"><label>Type:</label><div>{Filter Types}</div></div>
	<div class="field"><label>Status:</label><div>{Filter Status}</div></div>
</div>

<p>{Filter}</p>

<!-- BEGIN Row -->
<div class="block row">
	<div class="field"><label>Posted:</label><div>{Row Posted}</div></div>
	<div class="field"><label>Date:</label><div>{Row Date}</div></div>
	<div class="field"><label>Type:</label><div>{Row Name}</div></div>
	<div class="field"><label>Number:</label><div>{Row Reference Number}</div></div>
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Amount:</label><div>{Row Total}</div></div>
</div>
<!-- END Row -->

<p>{Process}</p>