<h1>Securable</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Name:</label><div>{Display Name}</div></div>
</div>

<h2>Permissions</h2>
<table>
	<tr>
		<td></td>
		<td class="black center">Cr</td>
		<td class="black center">Rd</td>
		<td class="black center">Ud</td>
		<td class="black center">Dl</td>
	</tr>
	<!-- BEGIN Securable -->
	<tr>
		<td class="right">{Securable Display}</td>
		<td class="center">{Securable Can Create}</td>
		<td class="center">{Securable Can Read}</td>
		<td class="center">{Securable Can Update}</td>
		<td class="center">{Securable Can Delete}</td>
	</tr>
	<!-- END Securable -->
</table>

<p>{Save}</p>
