<h1>Unit Measures</h1>
<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
	<div class="field"><label>Name:</label><div>{Display Name}</div></div>
	<div class="field"><label>Abbrv:</label><div>{Abbreviation}</div></div>
</div>
<p>{Save}</p>

<h2>Conversions</h2>
<!-- BEGIN Conversion -->
<div class="block row">
	<div class="field"><label>Delete:</label><div>{Conversion Is Deleted}</div></div>
	<div class="field"><label>{Conversion Left Unit Measures GUID}(s):</label><div>{Conversion Left Quantity}</div></div>
	<div class="field double center black">EQUALS</div>
	<div class="field"><label>UM:</label><div>{Conversion Right Unit Measures GUID}</div></div>
	<div class="field"><label>Qty:</label><div>{Conversion Right Quantity}</div></div>
</div>
<!-- END Conversion -->

<p>{Add Conversion}</p>