<h1>Group</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
	<div class="field"><label>Display:</label><div>{Display Name}</div></div>
	<div class="field"><label>Email:</label><div>{Email Address}</div></div>
</div>

<h2>Members</h2>
<table>
	<!-- BEGIN User -->
	<tr>
		<td class="right">{User Email Address}&nbsp;</td>
		<td class="center">{User Included}</td>
	</tr>
	<!-- END User -->
</table>

<p>{Save}</p>
