<h1>Import Sage 50</h1>
<p>The following will import Sage 50 data into the current company for the purposes
of migrating from Sage 50 to incAcconting.  This will import a history of 
transactions between the start date and the end date.</p>

<h2>Sage 50 Connection</h2>
<p>The following allows us to connect to the Pervasive Database.  You can find
these details in the "CrystalReports.udl" file in the Sage 50 company you want
to import.</p>
<div class="block">
	<div class="field"><label>Server:</label><div>{DB Server}</div></div>
	<div class="field"><label>Database:</label><div>{DB Database}</div></div>
	<div class="field"><label>User:</label><div>{DB User}</div></div>
	<div class="field"><label>Password:</label><div>{DB Password}</div></div>
</div>

<p>{Test Db}</p>

<h2>History</h2>
<p>The "history" date range will import the transactions from the selected date 
range.  The exception is items who reference documents from before/outside the 
date range.</p>
<div class="block">
	<div class="field"><label>Starting:</label><div>{Start Date}</div></div>
	<div class="field"><label>Ending:</label><div>{End Date}</div></div>
</div>

<h2>Actions</h2>
<p>The following are data to be imported.  Please make sure to execute the 
operations in the proper order.</p>

<h3>Lists</h3>
{Accounts}
