<h1>Item</h1>
<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
	<div class="field"><label>Parent:</label><div>{Parent Items GUID}</div></div>
	<div class="field"><label>UM:</label><div>{Inventory Unit Measures GUID}</div></div>
	<div class="field"><label>Segment:</label><div>{Segment}</div></div>
	<div class="field"><label>Number:</label><div>{Number}</div></div>
</div>
<p>{Open}</p>

<h2>Sales</h2>
<div class="block">
	<div class="field"><label>Account:</label><div>{Sales Accounts GUID}</div></div>
	<div class="field"><label>Taxed:</label><div>{Is Sales Taxed}</div></div>
	<div class="field double"><label>Descript:</label><div class="double">{Sales Description}</div></div>
</div>

<h2>Purchases</h2>
<div class="block">
	<div class="field"><label>Account:</label><div>{Purchase Accounts GUID}</div></div>
	<div class="field"><label>Contact:</label><div>{Purchase Contacts GUID}</div></div>
	<div class="field double"><label>Descript:</label><div class="double">{Purchase Description}</div></div>
</div>

<h2>Inventory</h2>
<div class="block">
	<div class="field"><label>Account:</label><div>{Inventory Accounts GUID}</div></div>
	<div class="field"><label>Serialized:</label><div>{Is Serialized}</div></div>
	<div class="field double"><label>Descrip:</label><div class="double">{Inventory Description}</div></div>
</div>

<h2>Pricing</h2>
<div class="block">
	<div class="field"><label>Last Cost:</label><div>{Last Unit Cost}</div></div>
	<div class="field"><label>Mark Up:</label><div>{Sales Mark Up}</div></div>
	<div class="field"><label>Unit Price:</label><div>{Sales Unit Price}</div></div>
<!--	<div class="field"><label>Ave Value:</label><div>{Average Value}</div></div>-->
</div>	

<p>{Save}</p>

<h2>Subordinates</h2>
<!-- BEGIN Child -->
<div class="block row">
	<div class="field"><label>Delete:</label><div>{Child Is Deleted}</div></div>
	<div class="field"><label>Taxed:</label><div>{Child Is Sales Taxed}</div></div>
	<div class="field"><label>Segment:</label><div>{Child Segment}</div></div>
	<div class="field"><label>Number:</label><div>{Child Number}</div></div>
	<div class="field double"><label>Descript:</label><div class="double">{Child Sales Description}</div></div>
	<div class="field"><label>Price:</label><div>{Child Sales Unit Price}</div></div>
	<div class="field"><label>UM:</label><div>{Child Inventory Unit Measures GUID}</div></div>
	<div class="field"><label></label><div>{Child Open}</div></div>
</div>
<!-- END Child -->

<p>{Add}</p>

