<h1>Payment</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
</div>
<div class="block">
	<div class="field"><label>Type:</label><div>{Payment Types GUID}</div></div>
	<div class="field"><label>Account:</label><div>{Posted Accounts GUID}</div></div>
	<div class="field"><label>Date:</label><div>{Date}</div></div>
	<div class="field"><label>Our #:</label><div>{Our Number}</div></div>
</div>
<div class="block">
	<div class="field"><label>Contact:</label><div>{Contacts GUID}</div></div>
	<div class="field"><label>Their #:</label><div>{Their Number}</div></div>
	<div class="field double"><label>Name:</label><div class="double">{Contacts Display Name}</div></div>
</div>
<div class="block">
	<div class="field"><label>To/From:</label><div>{Billing Contacts GUID}</div></div>
	<div class="field double"><label>Name:</label><div class="double">{Billing Address Display Name}</div></div>
	<div class="field double"><label>Address:</label><div class="double">{Billing Address Line 1}</div></div>
	<div class="field double"><label></label><div class="double">{Billing Address Line 2}</div></div>
	<div class="field"><label>City St Zip:</label><div>{Billing Address City} {Billing Address State} {Billing Address Postal Code}</div></div>
	<div class="field"><label>Country:</label><div>{Billing Address Country}</div></div>
</div>

<h2>Applications</h2>
<!-- BEGIN Application -->
<div class="block row">
	<div class="field"><label>Type:</label><div>{Application Name}</div></div>
	<div class="field"><label>Date</label><div>{Application Date}</div></div>
	<div class="field"><label>Our #:</label><div>{Application Reference Number}</div></div>
	<div class="field"><label>Their #:</label><div>{Application Customer Number}</div></div>
	<div class="field"><label>Balance:</label><div>{Application Balance}</div></div>
	<div class="field"><label>Payment:</label><div>{Application Amount}</div></div>
</div>
<!-- END Application -->
<div class="block row">
	<div class="field blank"><label>&nbsp;</label><div></div></div>
	<div class="field"><label>Total:</label><div>{Total}</div></div>
</div>

<p>{Save} {Open Transaction} {Post} {Print}</p>

<script>
	var nSettingDocumentMoneyDecimals = {Money Decimals};
	var nSettingDocumentQuantityDecimals = {Quantity Decimals};
	var nSettingDocumentRateDecimals = {Rate Decimals};
	
	pageLoaded();
	paymentChanged();
</script>	