<h1>Payroll Check</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Template:</label><div>{Is Template}</div></div>
</div>

<div class="block">
	<div class="field"><label>Number:</label><div>{Number}</div></div>
	<div class="field"><label>Date:</label><div>{Date}</div></div>
	<div class="field"><label>Duration:</label><div>{Duration}</div></div>
	<div class="field"><label>Ending:</label><div>{Ending}</div></div>
	<div class="field"><label>Employee:</label><div>{Employees GUID}</div></div>
	<div class="field"><label>Account:</label><div>{Accounts GUID}</div></div>
</div>
<p>{Use Template}</p>

<div class="block">
	<div class="field double"><label>Name:</label><div class="double">{Pay To The Order Of}</div></div>
	<div class="field double"><label>Address:</label><div class="double">{Line 1}</div></div>
	<div class="field double"><label></label><div class="double">{Line 2}</div></div>
	<div class="field"><label>City St Zip:</label><div>{City} {State} {Postal Code}</div></div>
	<div class="field"><label>Country:</label><div>{Country}</div></div>
</div>

<h2>Gross Compensation</h2>
<!-- BEGIN Gross -->
<div class="block row">
	<div class="field"><label>Delete:</label><div>{Gross Is Deleted}</div></div>
	<div class="field"><label>Name:</label><div>{Gross Payroll Fields GUID}</div></div>
	<div class="field"><label>Rate:</label><div>{Gross Rate}</div></div>
	<div class="field"><label>Quantity:</label><div>{Gross Quantity}</div></div>
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Total:</label><div>{Gross Total}</div></div>
</div>	
<!-- END Gross -->
<div class="block row">
	<div class="field"><label>Gross:</label><div><input id="Gross" class="readonly" type=text readonly value="0.00" /></div></div>
	<div class="field"><label>Adjusted:</label><div><input id="Adjusted" class="readonly" type=text readonly value="0.00" /></div></div>
</div>	
<p>{Add Gross}</p>

<h2>Employee Withheld</h2>
<!-- BEGIN Employee -->
<div class="block row">
	<div class="field"><label>Delete:</label><div>{Employee Is Deleted}</div></div>
	<div class="field"><label>Name:</label><div>{Employee Payroll Fields GUID}</div></div>
	<div class="field"><label>Rate:</label><div>{Employee Rate}</div></div>
	<div class="field"><label>Quantity:</label><div>{Employee Quantity}</div></div>
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Total:</label><div>{Employee Total}</div></div>
</div>	
<!-- END Employee -->
<div class="block row">
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Withheld:</label><div><input id="Withheld" class="readonly" type=text readonly value="0.00" /></div></div>
</div>	
<p>{Add Employee}</p>


<h2>Company Paid</h2>
<!-- BEGIN Company -->
<div class="block row">
	<div class="field"><label>Delete:</label><div>{Company Is Deleted}</div></div>
	<div class="field"><label>Name:</label><div>{Company Payroll Fields GUID}</div></div>
	<div class="field"><label>Rate:</label><div>{Company Rate}</div></div>
	<div class="field"><label>Quantity:</label><div>{Company Quantity}</div></div>
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Total:</label><div>{Company Total}</div></div>
</div>	
<!-- END Company -->
<div class="block row">
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Expense:</label><div><input id="Company" class="readonly" type=text readonly value="0.00" /></div></div>
</div>	
<p>{Add Company}</p>

<h2>Take Home</h2>
<div class="math">
	<div>
		<b>Adj Gross</b></br>
		<span id="span-Adjusted-Gross">{Adjusted Gross}</span>
	</div>
	<div><b>&nbsp;-&nbsp;</b></div>
	<div>
		<b>Withholding</b></br>
		<span id="span-Employee-Paid">{Employee Paid}</span>
	</div>
	<div><b>&nbsp;=&nbsp;</b></div>
	<div>
		<b>Pay Check</b></br>
		<span id="span-Paycheck-Amount">{Paycheck Amount}</span>
	</div>
</div>

<h2>Costs</h2>
<div class="math">
	<div>
		<b>Gross</b></br>
		<span id="span-Compensation">{Compensation}</span>
	</div>
	<div><b>&nbsp;+&nbsp;</b></div>
	<div>
		<b>Company Paid</b></br>
		<span id="span-Company-Paid">{Company Paid}</span>
	</div>
	<div><b>&nbsp;=&nbsp;</b></div>
	<div>
		<b>Total Cost</b></br>
		<span id="span-Total-Costs">{Total Costs}</span>
	</div>
</div>

<p>{Save} {Post} {Open Transaction} {Print}</p>

<script>
	var nSettingDocumentMoneyDecimals = {Money Decimals};
	var nSettingDocumentQuantityDecimals = {Quantity Decimals};
	var nSettingDocumentRateDecimals = {Rate Decimals};
	
	pageLoaded();
	documentChanged();
</script>	