<h1>Payroll Check Posting</h1>

<div class="block">
	<div class="field"><label>Status:</label><div>{Filter Status}</div></div>
</div>

<p>{Invert} {Filter}</p>

<!-- BEGIN Row -->
<div class="block row">
	<div class="field"><label>Process:</label><div>{Row Posted}</div></div>
	<div class="field"><label>Date:</label><div>{Row Date}</div></div>
	<div class="field"><label>Number:</label><div>{Row Number}</div></div>
	<div class="field"><label>Employee:</label><div>{Row Pay To The Order Of}</div></div>
	<div class="field blank"><label>Check $:</label><div>{Row Paycheck Amount}</div></div>
	<div class="field"><label>Total $:</label><div>{Row Total Costs}</div></div>
</div>
<!-- END Row -->

<p>{Invert} {Process}</p>