<h1>Reconciliation</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Date:</label><div>{Date}</div></div>
	<div class="field"><label>Account:</label><div>{Accounts GUID}</div></div>
</div>
	
<!--<p><button>Import OFX</button></p>-->

<h2>Transactions</h2>
<table width="100%" class="list">
	<tr>
		<td>Clrd</td>
		<td>Date</td>
		<td>Type</td>
		<td>Number</td>
		<td>Description</td>
		<td class="right">Debit</td>
	</tr>
	<!-- BEGIN Line -->
	<tr>
		<td class="center">{Line Cleared}</td>
		<td>{Line Date}</td>
		<td>{Line Name}</td>
		<td>{Line Reference Number}</td>
		<td>{Line Description}</td>
		<td class="right">{Line Debit}</td>
	</tr>
	<!-- END Line -->
</table>
<br/>
<h2>Summary</h2>
<div class="block">
	<div class="field"><label>Begin:</label><div>{Beginning Balance}</div></div>
	<div class="field"><label>+ Cleared:</label><div>{Cleared}</div></div>
	<div class="field"><label>= Bank:</label><div>{Ending Balance}</div></div>
	<div class="field"><label>- Sttmnt:</label><div>{Statement Ending Balance}</div></div>
	<div class="field"><label>= Off By:</label><div>{Off By}</div></div>
</div>

<div class="block">
	<div class="field"><label>Begin:</label><div>{Beginning Balance}</div></div>
	<div class="field"><label>+ Cleared:</label><div>{Cleared}</div></div>
	<div class="field"><label>+ Unclrd:</label><div>{Uncleared}</div></div>
	<div class="field"><label>= Ledger:</label><div>{Ledger Balance}</div></div>
</div>

<p>{Save}</p>

<script>
	pageLoaded();
</script>	
