<h1>Report</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field double"><label>Name:</label><div class="double">{Display Name}</div></div>
	<div class="field double"><label>Title:</label><div class="double">{Title}</div></div>
	<div class="field double"><label>HTML:</label><div class="double">
			{HTML Template}
			<pre id="HtmlEditor"></pre>
	</div></div>
</div>
<p>{View} {Save} {Copy}</p>


<h2>Filters</h2>
<!-- BEGIN Filter -->
<div class="block">
	<div class="field"><label>Delete:</label><div>{Filter Is Deleted}</div></div>
	<div class="field"><label>Priority:</label><div>{Filter Priority}</div></div>
	<div class="field"><label>Prompt:</label><div>{Filter Prompt}</div></div>
	<div class="field"><label>Data:</label><div>{Filter Data Type}</div></div>
	<div class="field double"><label>SQL:</label><div class="double">
			{Filter Query}
			<pre id="FilterEditor{Filter GUID}" class="FilterEditor"></pre>
	</div></div>
</div>
<!-- END Filter -->
<p>{Add Filter}</p>

<h2>Blocks</h2>
<!-- BEGIN Block -->
<div class="block">
	<div class="field"><label>Delete:</label><div>{Block Is Deleted}</div></div>
	<div class="field"><label></label><div>{Block Open Block}</div></div>
	<div class="field"><label>Priority:</label><div>{Block Priority}</div></div>
	<div class="field"><label>Name:</label><div>{Block Name}</div></div>
</div>
<!-- END Block -->
<p>{Add Block}</p>

<script src="~/ace/src/ace.js"></script>
<script>
	pageLoaded();
</script>