<h1>Report Block</h1>
<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Report:</label><div>{Reports GUID}</div></div>
	<div class="field"><label>Block:</label><div>{Parent Block GUID}</div></div>
	<div class="field"><label>Priority:</label><div>{Priority}</div></div>
	<div class="field"><label>Name:</label><div>{Name}</div></div>
	<div class="field double"><label>SQL:</label><div class="double">{SQL Query}</div></div>
</div>

<p>{Open Report} {Open Block}</p>
   

<h2>Blocks</h2>
<table>
	<tr>
		<td></td>
		<td class="black">Delete</td>
		<td class="black">Priority</td>
		<td class="black">Name</td>
		<td></td>
	</tr>
	<!-- BEGIN Block -->
	<tr>
		<td></td>
		<td>{Block Is Deleted}</td>
		<td>{Block Priority}</td>
		<td>{Block Name}</td>
		<td>{Block Open Block}</td>
	</tr>
	<!-- END Block -->
</table>

<p>{Add Block} {Save}</p>
