<h1 class="first">Sales Tax</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Group:</label><div>{Is Group}</div></div>
	<div class="field"><label>Name:</label><div>{Display Name}</div></div>
	<div class="field"><label>Contact:</label><div>{Contacts GUID}</div></div>
<!-- BEGIN Group -->
	<div class="field"><label>Account:</label><div>{Accounts GUID}</div></div>
<!-- END Group -->
<!-- BEGIN Authority -->
	<div class="field"><label>Rate:</label><div>{Tax Rate}</div></div>
<!-- END Authority -->	
</div>    

<!-- BEGIN Group -->
<table class="list">
	<tr>
		<td class="black center">Inc</td>
		<td class="black">Display Name</td>
		<td class="black">Rate</td>
	</tr>
	<!-- BEGIN Option -->
	<tr>
		<td class="center">{Option Is Included}</td>
		<td>{Option Display Name}</td>
		<td>{Option Tax Rate}</td>
	</tr>
	<!-- END Option -->
</table>

<div class="block">
	<div class="field"><label>Tax Rate:</label><div>{Tax Rate}</div></div>
</div>
<!-- END Group -->

<p>{Save}</p>