<h1>Securable</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Name:</label><div>{Display Name}</div></div>
</div>

<h2>Permissions</h2>
<table>
	<tr>
		<td></td>
		<td class="black center">C</td>
		<td class="black center">R</td>
		<td class="black center">U</td>
		<td class="black center">D</td>
	</tr>
	<!-- BEGIN Securable -->
	<tr>
		<td class="right">{Securable Display}:&nbsp;</td>
		<td class="center">{Securable Can Create}&nbsp;</td>
		<td class="center">&nbsp;{Securable Can Read}&nbsp;</td>
		<td class="center">&nbsp;{Securable Can Update}&nbsp;</td>
		<td class="center">&nbsp;{Securable Can Delete}</td>
	</tr>
	<!-- END Securable -->
</table>

<p>{Save}</p>
