<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="~/css/style.css"/>
		<link rel="stylesheet" href="~/css/colors.css"/>
		<script src="~/scripts/library.js" ></script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{Header}
	</head>
	<body>
		<div id="header">
			<div class="ported">
				<div id="triplebar" onclick="toggleMenu();">&#9776;</div>
				<div id="history">{History}</div>
			</div>
		</div>		
		<div id="menu" class="ported hidden">
			<div class="padded columns">
				<h1>Actions</h1>
				<a href="~/incBootstrap?App=ReportView&GUID=18afbfdf422246b1a549f34dad94f8b7">Splash Screen</a><br/>
				<a href="~/incBootstrap?App=Login">User Login</a><br/>	
				<a href="~/incAccounting?App=Setup">Database Setup</a><br/>
				<a href="~/incBootstrap?App=ChangePassword">Change Password</a><br/>	

				<h1>Security</h1>
				<a href="~/incBootstrap?App=ReportView&GUID=33abdf4f68f44d73b23fabe400280576">Users</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=290198ebc76e43cbb7be15de3e3d0ad7">Groups</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=bdcddb7c80a34302a83a23ac1ed5d309">Securables</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=c545d2f279be49e9a471a43033d01c7f">Settings</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=767a1911c68b4878a2ffc8dfd6974bc5">Logs</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=75ecee50436c4a7d8095b30f794f87f9">Reports</a><br/>	

				<h1>Reporting</h1>
				<a href="~/incBootstrap?App=ReportView&GUID=cef027b31c704b17b9f97bc9489626cb">Group Membership</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=6d4ea7d4624e48509e915e019ca1f7a9">Trial Balance</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=a817ee365045448fb67c75db9b586ec8">Out of Balance</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=ee4f00312ff44e3d941c6a3445bf93b0">Account Ledger</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=f6c1313616f24bcd827863490e2a661b">Profit or Loss</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=ea6fdeb8d76247aa876dcab709b5de6e">Net Worth</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=08f4949be17a4d90a6a3a75b05b17fdf">Aged Payables</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=b88b0031fc2844eb874c5be27f8be003">Aged Receivables</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=01f2dff753214482b4a1ac02f6640914">Sales Tax Accural</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=f64ba5f5752a4473a5946fe68ddde21f">Sales Tax Cash</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=490b638915b74aecb816c888dea125e9">Payroll History</a><br/>
				<a href="~/incBootstrap?App=ReportView&GUID=ea6fdeb8d76247aa876dcab709b5de6e">Inventory Valuation</a><br/>

				<h1>Lists</h1>
				<a href="~/incBootstrap?App=ReportView&GUID=06db3e1b55e54bc2babf0424e0843d5b">Accounts</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=ed6c823f890a470fa23b637dae910117">Contact Types</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=57808ea5bb1948d8a1ddce32a3233e10">Contacts</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=1b739cb0b80649589760652098d0ff9c">Departments</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=c30ad5f313f44d15b9d5a75dcc7200ad">Items</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=d638b37131514266a0fa8df8dc0b39a6">Jobs</a><br/>
				<a href="~/incBootstrap?App=ReportView&GUID=766ef959263043c79244f932e49ff61d">Sales Tax Authorities</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=6552470b48204c06b7a23271b472b6b7">Sales Tax Groups</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=88898672973041059e47961735e0c047">Unit Measures</a><br/>
				<a href="~/incBootstrap?App=ReportView&GUID=92ecd1b71cf24a9b82538fcd9b1bf136">Document Types</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=fcb89d0333e4418f829803e34887edb7">Payment Types</a><br/>	

				<h1>Accounting</h1>			
				<a href="~/incBootstrap?App=ReportView&GUID=a92a85f5192e4dbb80cba3a67ad31448">Transactions</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=84c704545c9140fb96ee5b9610fe632b">Deposits</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=7788774678b84145b3681511b0cc9d40">Reconciliations</a><br/>
				<a href="~/incBootstrap?App=RegisterEntries">Account Register</a><br/>

				<h1>Sales</h1>			
				<a href="~/incBootstrap?App=ReportView&GUID=078c5cd40a024563bfde3641352d4e43">Sales Quotes</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=97c04a5ce5024ad4b2859908da8f6e1a">Sales Orders</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=352f588dfcd147fda29b8b4cdc2fcdfc">Sales Invoices</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=3293e7a3b08744c38975accc635d7573">Sales Credit Memos</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=b8f0ac2f50ba4d40b227c841846dee15">Sales Payments</a><br/>	

				<h1>Purchasing</h1>			
				<a href="~/incBootstrap?App=ReportView&GUID=cefd88dd219a4b6f8bc6dd30fd77f058">Purchase Quotes</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=7f8c6d9d299049779046ad7eb70884fa">Purchase Orders</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=2fc5847e6eba4c5784ce3258bd5b8f53">Purchase Invoices</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=30357e5cfb164c29a741e77f3de1cce7">Purchase Credit Memos</a><br/> 
				<a href="~/incBootstrap?App=ReportView&GUID=b48f778f1bbf4b87b7e37c97324d9b48">Purchase Payments</a><br/>
				
				<h1>Employees</h1>
				<a href="~/incBootstrap?App=ReportView&GUID=a64f1e848b4b4b009f669e133d201478">Employees</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=a7d53239fa82450db2e9d07594e7cce9">Payroll Fields</a><br/>
				<a href="~/incBootstrap?App=ReportView&GUID=a51f368f999a4ebdb900a1e1cfac9ebb">Time Entry Types</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=8fdb0c8bbfb84ead88aed2ee3674b498">Time Entry</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=8e32580ad6aa45d592e4182876a0a23a">Time Sheets</a><br/>	
				<a href="~/incBootstrap?App=ReportView&GUID=6eeab128b44446b6b67556f7418298ba">Payroll Checks</a><br/>	
			
				<h1>Posting</h1>			
				<a href="~/incAccounting?App=PostDocuments">Post Documents</a><br/>	
				<a href="~/incAccounting?App=PostPayments">Post Payments</a><br/>									
				<a href="~/incAccounting?App=PostDeposits">Post Deposits</a><br/>									
				<a href="~/incAccounting?App=PostPayrollChecks">Post Payroll Checks</a><br/>													
			</div>
		</div>
		<div id="body" class="ported">
			<form id="form" method="post" action="{Form Action}" onsubmit="beforeSubmit(); return true;">
				<div id="hiddenmodel">{Hidden Model}</div>
				<div id="error">{Error}</div>
				{Body}
			</form>
		</div>
		<script>
			var bMenuActive = false;
			function toggleMenu() {
				if(bMenuActive === false) {
					// show menu
					document.getElementById("body").className = document.getElementById("body").className + " hidden";
					document.getElementById("menu").className = replaceAll(document.getElementById("menu").className, "hidden", "");
					bMenuActive = true;
				} else {
					// hide menu
					document.getElementById("menu").className = document.getElementById("menu").className + " hidden";
					document.getElementById("body").className = replaceAll(document.getElementById("body").className, "hidden", "");
					bMenuActive = false;
				}
			}
			function replaceAll(haystack, needle, value) {
				var before = haystack;
				var after = before.replace(needle, value);

				while (before != after) {
					before = after;
					after = before.replace(needle, value);
				}

				return after;
			}
			function beforeSubmit() {
//				var msg = "beforeSubmit\n";
//
//				msg += "HiddenControl " + document.getElementById("HiddenControl").value + "\n";
//				msg += "HiddenEvent " + document.getElementById("HiddenEvent").value + "\n";
//				
//				alert(msg);
			}
			function sendEvent(element_name, event_name) {
//				alert("sendEvent");
				
				var elm = document.getElementById("HiddenControl");
				elm.setAttribute("value", element_name);
				
				elm = document.getElementById("HiddenEvent");
				elm.setAttribute("value", event_name);

				elm = document.getElementById("form");
				elm.submit();
			}
			
			function setFocusAfter() {
				var elm = document.getElementById(sFocusAfterSender);
				elm.scrollIntoView();
				elm.focus();
			}
			{OnLoad}
		</script>
	</body>
</html>
