<h1>Time Sheet</h1>
<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Number:</label><div>{Number}</div></div>
	<div class="field"><label>Employee:</label><div>{Employees GUID}</div></div>
	<div class="field"><label>Ending:</label><div>{Period Ending}</div></div>
</div>

<table width="100%">
	<tr>
		<td class="black">Inc</td>
		<td class="black">Started</td>
		<td class="black">Ended</td>
		<td class="black">Hours</td>
		<td class="black">Type</td>
		<td class="black">Contact</td>
	</tr>
<!-- BEGIN Line -->
	<tr>
		<td>{Line Is Included}</td>
		<td>{Line Started}</td>
		<td>{Line Ended}</td>
		<td>{Line Hours}</td>
		<td>{Line Types}</td>
		<td>{Line Contact}</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td colspan="4">{Line Description}</td>
	</tr>
<!-- END Line -->
</table>

<div class="block">
	<div class="field"><label>Total:</label><div>{Total Hours}</div></div>
</div>

<p>{Save}</p>

<script>
	var arrTimeEntries = {TimeEntries};	
	var nSettingDocumentQuantityDecimals = {Quantity Decimals};
	
	pageLoaded();
	changedCheck();
</script>