<h1>Transaction</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Type:</label><div>{Transaction Types GUID}</div></div>
	<div class="field"><label>Date:</label><div>{Date}</div></div>
	<div class="field"><label>Reference:</label><div>{Reference Number}</div></div>
</div>

<p>{Add} {Save} {Open Document} {Delete}</p>

<h2>Lines</h2>
<!-- BEGIN Line -->
<div class="block row">
	<div class="field"><label>Job:</label><div>{Line Jobs GUID}</div></div>
	<div class="field"><label>Depart:</label><div>{Line Departments GUID}</div></div>
	<div class="field double"><label>Descript:</label><div class="double">{Line Description}</div></div>
	<div class="field"><label>Account:</label><div>{Line Accounts GUID}</div></div>
	<div class="field"><label>Debit:</label><div>{Line Debit}</div></div>
</div>
<!-- END Line -->

<div class="block final">
	<div class="field blank"><label></label><div></div></div>
	<div class="field"><label>Balance:</label><div>{Balance}</div></div>
</div>

<p>{Add} {Save} {Open Document} {Delete}</p>
<script>
    var nSettingDocumentMoneyDecimals = {Money Decimals};
    
    pageLoaded();
    debitChanged();
</script>
