<h1>User</h1>

<div class="block">
	<div class="field"><label>GUID:</label><div>{GUID}</div></div>
	<div class="field"><label>Allowed:</label><div>{Is Allowed}</div></div>
	<div class="field"><label>Add Cmptr:</label><div>{Add Computer}</div></div>
</div>
<div class="block">
	<div class="field"><label>SQL User:</label><div>{SQL User}</div></div>
	<div class="field"><label>Email:</label><div>{Email Address}</div></div>
	<div class="field"><label>Display:</label><div>{Display Name}</div></div>
	<div class="field"><label>Pwd Date:</label><div>{Password Date}</div></div>
</div>
<p>{Save}</p>

<h2>Reset Password</h2>
<p><i>Only the 'administrator' user can reset a password!</i> If you would like to reset / recreate the user, please enter the desired password.  If welcome is in the password, the user will be required to change their password.</p>
<div class="block">
	<div class="field"><label>Password:</label><div>{Password}</div></div>
	<div class="field"><label>Confirm:</label><div>{Confirm}</div></div>
</div>
<p>{Reset}</p>
