row.template|%TABLE%Row.java|E:\Repositories\NetBeans\incAccounting.Library\src\net\internetworkconsulting\accounting\data\
interface.template|%TABLE%Interface.java|E:\Repositories\NetBeans\incAccounting.Library\src\net\internetworkconsulting\accounting\data\
inc.accounting.data.js|%TABLE%Row.js|E:\Repositories\NetBeans\incAccounting.WS\web\scripts\inc.accounting.data\