* { color: #888; }
.black { color: #000; } /* black for bolder */
body { background-color: #fff; }
h1, h2, h3, h4, h5, h6, b, input, button {
	color: #000;	
}

div#header {
	background-color: #000;
}
div#header div#triplebar { 
	color: #fff;
}
div#header div#history a { 
	color: #fff;
}

table.list > tbody > tr:nth-child(1) > td { color: #000; }

div.block > div.field > label {
	color: #000;
}
div.block.row + div.block.row, div.block.row + div.block.final { 
	border-top: 1pt solid #000;
}

button, input[type="text"], input[type="date"], input[type="password"], textarea, a.add, a.delete {
	color: #888;
	border: 1pt solid #888; 
	background-color: #fff;
	border-radius: 4px;
}
select {
	color: #888;
	border: 1pt solid #888; 
	background-color: #fff;
	border-radius: 4px;
}
button {
	border: 1pt solid #000;
	color: #fff;
	
	background: #888; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #666, #aaa); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #666, #aaa); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #666, #aaa); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #666, #aaa); /* Standard syntax */
}

*.readonly, input[type="text"].readonly { 
	background-color: #eee;
	border: 1pt solid #888;
	color: #888;
}

a.add { color: #0c0; 

	border: 1pt solid #000;
	color: #fff;
	
	background: #888; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #080, #4f4); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #080, #4f4); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #080, #4f4); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #080, #4f4); /* Standard syntax */
}
a.delete { color: #c00; 

	border: 1pt solid #000;
	color: #fff;
	
	background: #888; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, #800, #f44); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #800, #f44); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #800, #f44); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #800, #f44); /* Standard syntax */
}

.error { color: #f88; }
.error > b { color: #f00; }